body {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.triangle {
  animation: ani 2s infinite;
}
@keyframes ani {
  0%,
  100% {
    border-left: transparent calc(100px / 2) solid;
    border-right: transparent calc(100px / 2) solid;
    border-top: transparent 0 solid;
    border-bottom: red calc(100px * 0.866) solid;
  }
  50% {
    border: yellow 220px solid;
  }
}
