body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.triangle {
  animation: ani 2s infinite;
}
@keyframes ani {
  0%,
  100% {
    border-right: calc(200px / 2) transparent solid;
    border-left: calc(200px / 2) transparent solid;
    border-top: 0 transparent solid;
    border-bottom: calc(200px * 0.866) red solid;
  }
  50% {
    border: 100px solid yellow;
  }
}
