.button {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: blueviolet;
  position: relative;
}
.button::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: violet;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
input:checked + .button {
  background-color: violet;
}
input:checked + .button::after {
  background-color: blueviolet;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: 10px;
}
